
    
<nav class="navbar navbar-light" style="background-color: #171a21;">
    <div class="container-fluid">
        <div>
       <a class="navbar-brand" href="#" style="color: white;">
           NgArco Store
       </a> 
       <img src="/assets/icon.ico" style=" height: 30px;"alt="">
       </div>  
  
    </div>   
</nav>

<!--------------------------------------------NAVBAR---------------------------------------------------->


<!---------------------------------------------Line-------------------------------------------------------->


