.modal-body {
    padding: 0%;
    padding-left: 5%;
}

.colorBlue{
    color: #33a3f4 ;
}

.btn-block{
    width: 100%;
}

.ButonModal{
    padding: 0;
    margin: 0;
}

.pix{
    width: 200px;
}

.close{
    background-color: #33a3f4;
}

.modal-body[_ngcontent-oud-c21]{
    padding: 5%;
}